/* common */

:root {
  --sidebar: #edd2cb;
  --header: #f1e8e6;
  --primary: #f55951;
  --font: #361d32;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Raleway", "Microsoft JhengHei";
  font-weight: 700;
  color: var(--font);
}

.wrapper {
  min-width: 900px;
  min-height: 1000px;
  background: #fff;
}

.header {
  margin-top: 20px;
  height: 300px;
  background: var(--header);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header h1 {
  font-size: 3em;
}

.side {
  min-height: 1450px;
  height:1600px;
  background: var(--sidebar);
  position: absolute;
  top: 0;
  left: 20px;
  width: 300px;
  padding: 20px;
  font-size: 14px;
  /* color: #fff; */
}

.photo {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 52px;
  border-radius: 100%;
  background-color: #fff;
  background-image: url("./avatar.jpg");
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid var(--header);
  padding: 10px;
}

.info .link_icon {
  position: absolute;
  right: 15px;
  top: 300px;
}

.info .link_icon i {
  font-size: 20px;
  padding: 0 5px;
}

.works .cate {
  display: flex;
  justify-content: space-between;
}

.works .cate p:first-child {
  width: 60%;
}

.works .cate p:last-child {
  width: 35%;
  font-size: 12px;
  line-height: 30px;
}

.skills .cate {
  display: flex;
  width: 100%;
}

.skills .cate span {
  width: 50%;
  padding: 8px 0;
  font-size: 14px;
}

.cate ul li {
  /* list-style: none; */
  margin-left: -20px;
  font-size: 14px;
}

.box-ck,
.box {
  display: inline-flex;
  width: 23px;
  height: 5px;
  margin: 0px 1px;
}

.box {
  background: #eee;
}

.box-ck {
  background: var(--primary);
}

.content,
.header * {
  margin-left: 370px;
}

.content {
  padding: 20px;
}

.content p,
.content li {
  text-align: justify;
  letter-spacing: 0.5px;
  list-style: none;
  line-height: 1.2em;
}

.content li {
  line-height: 2.5
}

.content .details {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .details .project_intro {
  width: 70%;
}

.content .details .project_intro h3 {
  font-size: 18px;
}

.content .details .project_intro .fa-tv {
  margin-right: 10px;
}

.content .details .QR_code {
  width: 30%;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.content .details .QR_code img {
  width: 100%;
  max-width: 180px;
  margin: 0;
}

.details .ul li {
  padding: 5px 0 5px 30px;
}

.line {
  border-bottom: 1px solid var(--primary) !important;
  position: relative;
}

.line:before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 3px solid var(--primary);
  border-width: 3px 20px;
  top: -3px;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: #333;
}

a {
  display: inline-block;
  position: relative;
  padding: 0px;
}

a:before,
a:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 0;
}

a:before {
  transition: width 0s ease, background .4s ease;
  bottom: -2px;
}

a:after {
  right: 2.2%;
  bottom: -2px;
  background: var(--primary);
  transition: width .4s ease;
}

a:hover:before {
  width: 97.8%;
  background: var(--primary);
  transition: width .4s ease;
}

a:hover:after {
  width: 97.8%;
  background: 0 0;
  transition: all 0s ease;
}

.content h3 span {
  display: inline-block;
}

.quote {
  position: relative;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
}

.intro {
  text-align: center;
  line-height: 36px;
  width: 60%;
  padding: 20px
}

.quote:before {
  color: #000;
  content: "\201C";
  font-size: 1.5em;
  position: absolute;
  left: -45px;
  top: 25px;
  line-height: 0.1em;
}

.quote:after {
  color: #000;
  content: "\201D";
  font-size: 1.5em;
  position: absolute;
  right: -40px;
  bottom: -10px;
  line-height: 0.1em;
}

.text-center {
  text-align: center;
}

.biography {
  line-height: 32px;
  padding: 20px 40px;
  font-size: 14px;
}

.works .cate {
  margin: 0px 0px -14px;
}



@media screen and (max-width: 650px) {
  .wrapper {
    min-width: inherit;
    min-height: auto;
    background: #ffffff;
  }
  .info .link_icon {
    position: absolute;
    right: 140px;
    top: 410px;
}

  .side {
    min-height: inherit;
    height:1000px;
    background: var(--sidebar);
    /*color: inherit;*/
    position: inherit;
    width: inherit;
  }

  .side h2 {
    color: inherit;
  }

  .content,
  .header * {
    margin-left: 0px;
  }

  .header {
    margin-top: 0px;
    height: auto;
  }

  .header .photo {
    display: block !important;
    border: 8px #ffffff solid;
    margin: 0;
    width: 220px;
    height: 220px;
    margin-top: 30px;
  }

  .header h3 {
    margin-bottom: 50px;
  }

  .side .photo {
    display: none;
  }


  .content h3 span {
    display: block;
    line-height: 1.5
  }

  .content .details .project_intro {
    width: 100%;
  }

  .content .details .QR_code {
    width: 0%;
    display: none;
  }

  ul {
    padding-inline-start: 0px;
  }

  .biography {
    padding: 0;
  }
}

.details .project_intro {
  width: 75%;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  @page {
    size: A4 portrait;
  }

  .side {
    height: 1280px;
    min-height: 880px;
    padding: 20px 20px 0;
    width: 200px;
  }

  .print__top {
    padding-top: 15px;
    margin-left: 0px;
  }

  .print__bottom {
    margin-bottom: 10px;
  }

  .content {
    word-wrap: break-word;
    padding: 0;
  }

  .print__none {
    display: none;
  }

  .works .cate {
    flex-wrap: wrap;

  }

  .works .cate p:first-child {
    width: 100%;
    line-height: 0;
  }

  .works .cate p:last-child {
    width: 100%;
    line-height: 1;
  }

  .skills .cate span {
    padding: 0px 0;
  }


  .content .details {
    line-height: 0em;
  }

  .content .details .project_intro {
    width: 100%;
  }

  .content .details .QR_code {
    width: 0%;
    display: none;
  }

  ul {
    padding-inline-start: 0px;
  }

  .content,
  .header * {
    margin-left: 300px;
  }

  .biography {
    padding: 0px;
  }

  .project_intro .cimi::after {
    content: "";
    width: 50px;
    height: 50px;
    top: 80px;
    right: 0;
    left: 430px;
    bottom: 0;
    margin: 0 auto;
    background-image: url("./qrcode_tibamef2e.com.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    position: absolute;
  }

  .project_intro .wft::after {
    content: "";
    width: 50px;
    height: 50px;
    top: 315px;
    right: 0;
    left: 430px;
    bottom: 0;
    margin: 0 auto;
    background-image: url("./qrcode_celia-code.github.io.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    position: absolute;
  }

  .photo {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 52px;
    border-radius: 100%;
    background-color: #fff;
    background-image: url("./avatar.jpg");
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid var(--header);
    padding: 10px;
  }

  .cate {
    margin: 0px 0px 0px;
  }
  .cate p:first-child {
    margin: 30px 0 0px;
  }
  .mtn-30{
    margin-top: -60px;
  }
}

html,
body {
  border: 1px solid white;
  height: 99%;
  page-break-after: avoid !important;
  page-break-before: avoid !important;
}